* {
    box-sizing: border-box;
}

body {
    background: #131313;
}

a {
    color: #fff;
}

/* Utility */

.yellow {
    color: rgb(233, 233, 0);
}

.highlighted {
    text-decoration: none;
    color: rgb(233, 233, 0);
    font-weight: bolder;
}

/* Home */

/* Header */

#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 0 30px;
}

#header .container #logo, 
#header .container .options a{
    text-decoration: none;
    font-size: 1.3rem;
}

#header .options {
    display: flex;
    gap: 20px;
}

#popular .container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 10px;
}


#popular .card {
    background: rgb(43, 101, 226);
    padding: 10px;
    flex-basis: 250px;
    flex-grow: 1;
    max-width: 400px;
    color: #fff;
    transition: all 0.4s ease-in-out;
}

#popular .card:hover {
   transform: scale(1.04);
}

#popular .card .image {
    width: 100%;
}

/* Movie Details Page Top*/

#details .container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#details .container #back {
    align-self: flex-start;
    color: rgb(233, 233, 0);
    padding: 5px 15px;
    margin: 20px 0;
    text-decoration: none;
    border: solid 3px rgb(233, 233, 0);
    border-radius: 8px;
}

#details .top {
    display: flex;
    gap: 40px;
    color: #fff;
}

#details .top .img {
    width: 33vw;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

#details .top .description {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    flex-shrink: 1;
    flex-basis: 300px;
    height: 100%;
}

#details .top .text {
    text-align: left;
}

#details .top #home-page {
    color: rgb(233, 233, 0);
    padding: 5px 15px;
    margin: 30px 0;
    text-decoration: none;
    border: solid 2px rgb(233, 233, 0);
    border-radius: 8px; 
}

#genres {
    margin-bottom: 0;
}

#details .list {
    padding: 0;
    margin: 0;
}

#details .list li{
    list-style-type: none;
}

/* Movie Details Page Bottom */

#details .bottom {
    width: 100%;
    margin: 30px 0;
}

#details .bottom .heading {
    text-align: center;
}

#details .bottom h4 {
margin-bottom: 0;
}

#details .bottom p{
    margin-top: 0;
    }

#details .bottom ul {
    padding: 0;
    margin: 0;
}

#details .bottom ul li{
    list-style-type: none;
}

/* Home Page Responsiviness */

@media screen and (max-width: 545px) {
    #popular.card {
        flex-basis: 500spx;
        max-width: 600px;
    }

    #popular .container {
        justify-content: center;
    }
}

/* Movie Details Responsiviness */

@media  screen and (max-width: 630px) {
    #details .top {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #details .top .img {
        width: 90vw;
    }
}







